body{
    margin: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 400px;
    .logo{
        font-size: 24px;
        color:#F9FAF8;
    }
    ul{
        display: flex;
        gap: 16px;
        list-style-type: none;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: #e5e7eb;;
    }
}