body{
    margin: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 200px;
    .logo{
        margin: 10px;
        font-size: 24px;
        color:#F9FAF8;
    }
    ul{
        display: flex;
        gap: 16px;
        list-style-type: none;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: #e5e7eb;;
    }
}
.heroContainer{
    background-color: #1f2937;
    display: flex;
    padding: 24px 200px;
    justify-content: space-between;
    .heroText{
        
        h1{
            font-size: 48px;
            font-weight: bold;
            color: #F9FAF8;
            margin: 0;
        }
        p{
            font-size: 18px;
            color:#F9FAF8;
            
        }
        button{
            background-color: #3882F6;
            color: white;
            border-radius: 4px;
            border: 0px;
            width: 100px;
            height: 30px;
        }
    }
   .heroImage{
        min-width: 500px;
        min-height: 250px;
        background-color: grey;
        display: flex;
        align-content: center;
        justify-content: center;
   }
}
.InfoText{
    padding:24px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.infoContainer{
    padding:24px 200px;
    display: flex;
    justify-content: center;
    gap: 52px;
    text{
        display: flex;
    }
}

img{
    border:2px solid #3882F6;
    border-radius: 10px;
    padding: 75px;
}